Repository awslabs/dynein, pull requests merged in 2024-05, with the labels that each got.

#215 chore: add a GitHub workflow for PRs to detect credential disclosures
  .github/workflows/ci.yml
Labels: tool

#196 feat: add exponential backoff retry for ProvisionedThroughputExceeded / ThrottlingException / InternalServerError
  Cargo.lock
  Cargo.toml
  src/app.rs
  src/batch.rs
  tests/config.rs
Labels: enhancement

#217 test: add integration tests for scan
  tests/scan.rs
  tests/util/mod.rs
Labels: test

#181 test: add integration test for export
  tests/bootstrap.rs
  tests/export.rs
  tests/get.rs
  tests/util/mod.rs
Labels: test

#218 test: add integration tests for query
  tests/config.rs
  tests/query.rs
  tests/util/mod.rs
Labels: test

#227 test: add integration tests for use
  tests/get.rs
  tests/use.rs
  tests/util/mod.rs
Labels: test

#231 feat: add base64 literal
  docs/format.md
  src/expression.pest
  src/parser.rs
Labels: enhancement

#230 test: add integration tests for import
  tests/import.rs
Labels: test

#194 test: Integration test admin delete
  tests/admin_delete.rs
  tests/util/mod.rs
Labels: test

#127 chore: migrate from structopt to clap
  .github/workflows/audit.yml
  Cargo.lock
  Cargo.toml
  src/cmd.rs
  src/control.rs
  src/data.rs
  src/main.rs
  tests/cmd/admin.md
  tests/cmd/backup.md
  tests/cmd/bootstrap.md
  tests/cmd/bwrite.md
  tests/cmd/config.md
  tests/cmd/del.md
  tests/cmd/desc.md
  tests/cmd/export.md
  tests/cmd/get.md
  tests/cmd/help.md
  tests/cmd/import.md
  tests/cmd/list.md
  tests/cmd/put.md
  tests/cmd/query.md
  tests/cmd/restore.md
  tests/cmd/scan.md
  tests/cmd/upd.md
  tests/cmd/use.md
  tests/cmd_windows/admin.md
  tests/cmd_windows/backup.md
  tests/cmd_windows/bootstrap.md
  tests/cmd_windows/bwrite.md
  tests/cmd_windows/config.md
  tests/cmd_windows/del.md
  tests/cmd_windows/desc.md
  tests/cmd_windows/export.md
  tests/cmd_windows/get.md
  tests/cmd_windows/help.md
  tests/cmd_windows/import.md
  tests/cmd_windows/list.md
  tests/cmd_windows/put.md
  tests/cmd_windows/query.md
  tests/cmd_windows/restore.md
  tests/cmd_windows/scan.md
  tests/cmd_windows/upd.md
  tests/cmd_windows/use.md
Labels: maintenance

#126 feat: migrate from rusoto to aws-sdk-rust
  .github/workflows/audit.yml
  Cargo.lock
  Cargo.toml
  README.md
  src/app.rs
  src/batch.rs
  src/bootstrap.rs
  src/cmd.rs
  src/control.rs
  src/data.rs
  src/ddb/key.rs
  src/ddb/mod.rs
  src/ddb/table.rs
  src/main.rs
  src/parser.rs
  src/transfer.rs
  tests/backup.rs
  tests/export.rs
  tests/restore.rs
  tests/util/mod.rs
Labels: maintenance
